#wd-kambaz-navigation .list-group-item {
    transition: background 0.3s ease-in-out;
  }
  
  #wd-kambaz-navigation .list-group-item:hover {
    background: rgba(255, 255, 255, 0.1);
  }
  
  #wd-kambaz-navigation .list-group-item.active {
    font-weight: bold;
  }
  